.error {
  width: 100%;
  text-align: center;
}

.error h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.error p {
  margin-bottom: 1em;
}

@media screen and (max-width: 991px) {
  .error img {
    width: 500px;
    height: 500px;
  }

  .error p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .error img {
    width: 200px;
    height: 200px;
  }

  .main h1 {
    font-size: 2em;
  }

  .main p {
    font-size: 1em;
  }

  .radio_group {
    font-size: 1.2em;
  }
}